<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd" version="5.0">
  <display-name>rentcarMVC2WWY</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>loginController</display-name>
    <servlet-name>loginController</servlet-name>
    <servlet-class>com.basic.rentcar.controller.user.loginController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>loginController</servlet-name>
    <url-pattern>/loginController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>logoutController</display-name>
    <servlet-name>logoutController</servlet-name>
    <servlet-class>com.basic.rentcar.controller.user.logoutController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>logoutController</servlet-name>
    <url-pattern>/logoutController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>reservationByCategoryCotroller</display-name>
    <servlet-name>reservationByCategoryCotroller</servlet-name>
    <servlet-class>com.basic.rentcar.controller.rentcar.reservationByCategoryCotroller</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>reservationByCategoryCotroller</servlet-name>
    <url-pattern>/reservationByCategoryCotroller</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>carInfoController</display-name>
    <servlet-name>carInfoController</servlet-name>
    <servlet-class>com.basic.rentcar.controller.rentcar.carInfoController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>carInfoController</servlet-name>
    <url-pattern>/carInfoController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>resservationProContorller</display-name>
    <servlet-name>resservationProContorller</servlet-name>
    <servlet-class>com.basic.rentcar.controller.rentcar.resservationProContorller</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>resservationProContorller</servlet-name>
    <url-pattern>/resservationProContorller</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>mypageController</display-name>
    <servlet-name>mypageController</servlet-name>
    <servlet-class>com.basic.rentcar.controller.rentcar.mypageController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>mypageController</servlet-name>
    <url-pattern>/mypageController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>reservationDeleteController</display-name>
    <servlet-name>reservationDeleteController</servlet-name>
    <servlet-class>com.basic.rentcar.controller.rentcar.reservationDeleteController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>reservationDeleteController</servlet-name>
    <url-pattern>/reservationDeleteController</url-pattern>
  </servlet-mapping>
</web-app>